@font-face {
  font-family: "AchsNuevaSansRegular";
  src: url("../fonts/ACHSNuevaSans-Regular.woff2") format("woff2"), url("../fonts/ACHSNuevaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AchsNuevaSansBold";
  src: url("../fonts/ACHSNuevaSans-Bold.woff2") format("woff2"), url("../fonts/ACHSNuevaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AchsNuevaSerifRegular";
  src: url("../fonts/ACHSNuevaSerif-Regular.woff2") format("woff2"), url("../fonts/ACHSNuevaSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AchsNuevaSerifBold";
  src: url("../fonts/ACHSNuevaSerif-Bold.woff2") format("woff2"), url("../fonts/ACHSNuevaSerif-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  transition: all 0.2s ease-in-out;
}

h1, h2 {
  font-family: "AchsNuevaSerifBold";
}

p, a {
  font-family: "AchsNuevaSansRegular";
}

p {
  margin-bottom: 0 !important;
}

h6, strong {
  font-family: "AchsNuevaSansBold";
}

.especialidadesHt__banner {
  background-color: #002A6C;
  border-radius: 0 0 80px 80px;
  overflow: hidden;
}
.especialidadesHt__banner span {
  color: #999;
  font-size: 24px;
  font-family: "AchsNuevaSansRegular";
}
.especialidadesHt__banner h1, .especialidadesHt__banner p {
  color: white;
}
.especialidadesHt__banner p {
  line-height: 30px;
  position: relative;
  z-index: 3;
}
.especialidadesHt__banner img {
  position: absolute;
  right: 10px;
  top: 40px;
  opacity: 0.5;
}
.especialidadesHt__banner-especialistas {
  background-color: #96C5FA;
  border-radius: 0 0 80px 80px;
  position: relative;
  z-index: 2;
}
.especialidadesHt__banner-especialistas h1, .especialidadesHt__banner-especialistas p {
  color: #002A6C;
}
.especialidadesHt__detallemedico figure {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.especialidadesHt__detallemedico figure img {
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.especialidadesHt__detallemedico h1 {
  color: #002A6C;
  font-size: 32px;
}
.especialidadesHt__detallemedico h3 {
  font-size: 24px;
  font-family: "AchsNuevaSerifRegular";
}
.especialidadesHt__detallemedico h4 {
  color: #787878;
  font-family: "AchsNuevaSansRegular";
}
.especialidadesHt__detallemedico ul li {
  color: #348fff;
  font-size: 17px;
  font-family: "AchsNuevaSansBold";
  padding: 5px 0;
}
.especialidadesHt__detallemedico-disclaimer {
  background-color: #f4f4ef;
  border-radius: 8px;
  color: #373737;
  padding: 10px;
  display: inline-block;
  font-family: "AchsNuevaSansRegular";
  font-size: 14px;
  width: 100%;
}
.especialidadesHt__detallemedico-disclaimer img {
  height: 26px;
  width: 26px;
  margin-right: 10px;
}
.especialidadesHt__equipo {
  background-color: #fff;
  z-index: 2;
  position: relative;
}
.especialidadesHt__equipo h2 {
  color: #002A6C;
}
.especialidadesHt__equipo p {
  color: #787878;
}
.especialidadesHt__equipo figure {
  border-radius: 24px;
  overflow: hidden;
}
.especialidadesHt__equipo-btn {
  border: 2px solid #348FFF;
  color: #348FFF;
  font-family: "AchsNuevaSansBold";
  padding: 14px 32px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
}
.especialidadesHt__equipo-btn:hover {
  background-color: #348FFF;
  color: white;
}
.especialidadesHt__formacion {
  background-color: #EAF3FE;
}
.especialidadesHt__formacion h3 {
  color: #373737;
  font-size: 24px;
  font-family: "AchsNuevaSerifRegular";
}
.especialidadesHt__formacion h6 {
  font-family: "AchsNuevaSansRegular";
  margin-bottom: 1rem;
}
.especialidadesHt__formacion h6, .especialidadesHt__formacion p {
  color: #666;
}
.especialidadesHt__formacion figure {
  background-color: #fff;
  overflow: hidden;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.especialidadesHt__formacion figure img {
  max-width: 45px;
  max-height: 42px;
}
.especialidadesHt__formacion p {
  overflow: hidden;
}
.especialidadesHt__formacion p.collapse:not(.show) {
  display: block;
  height: 50px;
}
.especialidadesHt__formacion p.collapsing {
  height: auto;
}
.especialidadesHt__formacion button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #348FFF;
  font-family: "AchsNuevaSansBold";
  text-decoration: underline;
}
.especialidadesHt__formacion button:hover {
  color: #002A6C;
}
.especialidadesHt__medicos {
  background-color: #f9f9f5;
  position: relative;
  top: -80px;
}
.especialidadesHt__medicos h2 {
  color: #002A6C;
  margin-bottom: 2rem;
}
.especialidadesHt__medicos .btnFilters {
  background-color: #2B6BDC;
  border: 1px solid #2B6BDC;
  border-radius: 8px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  font-family: "AchsNuevaSansRegular";
  margin-bottom: 2rem;
}
.especialidadesHt__medicos .btnFilters svg {
  width: 20px;
  height: 20px;
}
.especialidadesHt__medicos .btnFilters svg path {
  fill: white;
}
.especialidadesHt__medicos .btnFilters:hover {
  background-color: #fff;
  border-color: #eaeade;
  color: #333;
}
.especialidadesHt__medicos .btnFilters:hover svg path {
  fill: #333;
}
.especialidadesHt__medicos .btnCloseFilters {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.especialidadesHt__medicos .btnCloseFilters:hover {
  border-color: #666;
}
.especialidadesHt__medicos .btnCloseFilters img {
  position: relative;
  top: -1px;
}
.especialidadesHt__medicos .colFilters__box {
  background-color: #fff;
  border: 1px solid #eaeade;
  color: #333;
  border-radius: 8px;
  position: relative;
}
.especialidadesHt__medicos .colFilters__box svg {
  width: 20px;
  height: 20px;
  vertical-align: -2px;
}
.especialidadesHt__medicos .colFilters__box svg path {
  fill: black;
}
.especialidadesHt__medicos .colFilters__box span {
  font-family: "AchsNuevaSerifRegular";
  font-size: 22px;
}
.especialidadesHt__medicos .colFilters__box span.filtersApplied {
  display: block;
  font-family: "AchsNuevaSansRegular";
  font-size: 17px;
}
.especialidadesHt__medicos .colFilters__box .accordion-item {
  border: none;
}
.especialidadesHt__medicos .colFilters__box .accordion-item h2 {
  margin-bottom: 0;
}
.especialidadesHt__medicos .colFilters__box .accordion-item h2 button {
  color: #474747;
  box-shadow: none;
  font-family: "AchsNuevaSansBold";
  padding: 10px 15px;
  border-bottom: 1px solid #eaeade;
}
.especialidadesHt__medicos .colFilters__box .accordion-item h2 button[aria-expanded=true] {
  background-color: transparent;
  color: #002A6C;
}
.especialidadesHt__medicos .colFilters__box .accordion-item h2 button img {
  margin-right: 10px;
}
.especialidadesHt__medicos .colFilters__box .accordion-item:last-child h2 button {
  border-bottom: 1px solid transparent;
}
.especialidadesHt__medicos .colFilters__box .accordion-item:last-child h2 button[aria-expanded=true] {
  border-bottom: 1px solid #eaeade;
}
.especialidadesHt__medicos .colFilters__box .accordion-body .form-check {
  padding-left: 0;
}
.especialidadesHt__medicos .colFilters__box .accordion-body .form-check label {
  color: #474747;
  font-family: "AchsNuevaSansRegular";
}
.especialidadesHt__medicos .colFilters__box .accordion-body .form-check .form-check-input {
  float: right;
}
.especialidadesHt__medicos-box {
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 24px 24px 24px;
  margin-bottom: 1.5rem;
  text-decoration: none;
}
.especialidadesHt__medicos-box.bg-grey {
  background-color: #f9f9f5;
}
.especialidadesHt__medicos-box:hover {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.especialidadesHt__medicos-box:hover figure img {
  transform: scale(1.2);
}
.especialidadesHt__medicos-box span {
  background-color: #D6E9FF;
  color: #002A6C;
  font-family: "AchsNuevaSansBold";
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 1rem;
}
.especialidadesHt__medicos-box figure {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.especialidadesHt__medicos-box figure img {
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.especialidadesHt__medicos-box h6 {
  color: #666;
  font-family: "AchsNuevaSansBold";
  font-size: 18px;
  margin-bottom: 0;
}
.especialidadesHt__medicos-box sub {
  color: #2B6BDC;
  bottom: 0;
  display: block;
  font-size: 14px;
  line-height: initial;
  margin-bottom: 10px;
  font-family: "AchsNuevaSansRegular";
}
.especialidadesHt__medicos-box p {
  color: #787878;
  font-size: 14px;
  text-align: center;
}
.especialidadesHt__medicos-box-btn {
  background-color: #fff;
  border: 2px solid #348FFF;
  color: #348FFF;
  font-family: "AchsNuevaSansBold";
  padding: 10px 32px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}
.especialidadesHt__medicos-box-btn:hover {
  background-color: #348FFF;
  color: white;
}
.especialidadesHt__medicos .pagination li a {
  border: none;
}
.especialidadesHt__medicos .pagination li a.page-link-counter {
  background-color: #fff;
  margin: 0 4px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: #787878;
}
.especialidadesHt__medicos .pagination li a.page-link-counter:hover, .especialidadesHt__medicos .pagination li a.page-link-counter.active {
  background-color: #DFF3F2;
  color: #348fff;
}
.especialidadesHt__medicos .pagination li a.page-link-back, .especialidadesHt__medicos .pagination li a.page-link-next {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  color: #c1c1c1;
  border-radius: 8px;
  padding: 10px 30px;
}
.especialidadesHt__medicos .pagination li a.page-link-back {
  margin-right: 10px;
}
.especialidadesHt__medicos .pagination li a.page-link-back svg {
  margin-right: 5px;
  transform: rotate(180deg);
}
.especialidadesHt__medicos .pagination li a.page-link-next {
  margin-left: 10px;
}
.especialidadesHt__medicos .pagination li a.page-link-next svg {
  margin-left: 5px;
}
.especialidadesHt__medicos .pagination li a svg {
  height: 20px;
  width: 20px;
  fill: #c1c1c1;
}
.especialidadesHt__medicos .pagination li:not(.disabled) a.page-link-back, .especialidadesHt__medicos .pagination li:not(.disabled) a.page-link-next {
  background-color: #348fff;
  border: 1px solid #348fff;
  color: white;
}
.especialidadesHt__medicos .pagination li:not(.disabled) a.page-link-back:hover, .especialidadesHt__medicos .pagination li:not(.disabled) a.page-link-next:hover {
  background-color: #002A6C;
  border-color: #002A6C;
}
.especialidadesHt__medicos .pagination li:not(.disabled) a svg path {
  fill: white;
}
.especialidadesHt__proced {
  background-color: #f9f9f5;
  border-radius: 0 0 80px 80px;
}
.especialidadesHt__proced h2, .especialidadesHt__proced h6 {
  color: #002A6C;
}
.especialidadesHt__proced p {
  color: #787878;
}
.especialidadesHt__proced button {
  background-color: transparent;
  border: none;
  color: #348FFF;
  font-family: "AchsNuevaSansBold";
}
.especialidadesHt__proced button:hover {
  text-decoration: underline;
}
.especialidadesHt__qpa {
  background-color: #f9f9f5;
}
.especialidadesHt__qpa h2 {
  color: #002A6C;
  margin-bottom: 1.5rem;
}
.especialidadesHt__qpa p {
  color: #787878;
}
.especialidadesHt__sub h2 {
  color: #002A6C;
}
.especialidadesHt__sub p {
  color: #787878;
}
.especialidadesHt__subBox {
  background-color: #EAF3FE;
  display: flex;
  padding: 20px;
  border-radius: 24px;
  align-items: center;
  position: relative;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  text-decoration: none !important;
}
.especialidadesHt__subBox figure {
  background-color: #fff;
  margin-bottom: 0;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.especialidadesHt__subBox::after {
  content: "";
  width: 12px;
  height: 12px;
  border-bottom: 2px solid #348FFF;
  border-right: 2px solid #348FFF;
  position: absolute;
  z-index: 2;
  right: 20px;
  transform: rotate(-45deg);
}
.especialidadesHt__subBox:hover {
  background-color: #002A6C;
}
.especialidadesHt__subBox:hover p {
  color: white;
}
.especialidadesHt__subBox:hover::after {
  border-color: white;
}/*# sourceMappingURL=styles.css.map */